.container {
  display: flex;
  width: 350px;
  padding: 20px;
  flex-direction: column;
  outline: #222 solid 1px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}
